<!doctype html>
<html>
  <head>
    <title>Favorite App</title>
    <link rel="stylesheet" type="text/css" href="style-1.css">
  </head>
  <body>
    <div id="content">
      <div>
        <h1 id="banner">My Favorite App</h1>
      </div>
      <div class="row">
        <div class="image"><img src="app.png">
        </div>
        <div class="description">
          <p>
          Some description here.
          </p>
        </div>
      </div>
    </div>

  </body>
</html>